.works {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.works__header {
  margin-bottom: 96px;
  display: flex;
  justify-content: space-between;

  p {
    font-size: 20px;
  }
  @media screen and (max-width: 996px) {
    flex-direction: column;
  }

  @media screen and (max-width: 996px) {
    margin-bottom: 26px;
  }
}
