.card {
  h2 {
    font-size: 23px;
    color: black;
    margin-top: 96px;
    margin-bottom: 36px;
    font-weight: 400;
  }
}

.card {
  img {
    width: 100%;
    margin: 36px 0px;
  }
  p {
    font-size: 19px;
    margin-bottom: 36px;
  }
}
